


@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @*<div id="pagini" class="col-md-3">

            <a href="infdent/dadospessoais.html" id="btn" class="btn btn-outline-success btn-lg btn-block fa fa-id-card" target="_self">  Dados Pessoais</a>
            <a href="infdent/experienciaprofissional.html" id="btn" class="btn btn-outline-success btn-lg btn-block fa fa-handshake-o" target="_self">  Experiência Profissional</a>
            <a href="infdent/educacaoformacao.html" id="btn" class="btn btn-outline-success btn-lg btn-block fa fa-book" target="_self">  Educação e Formação</a>
            <a href="infdent/competenciaslinguisticas.html" id="btn" class="btn btn-outline-success btn-lg btn-block fa fa-globe" target="_self">  Competências Linguistícas</a>
        </div>*@

    <div class="col-md-8">
        <div style="background:transparent" !important class="jumbotron">

            <h1>A página do David</h1>

            <p class="lead">Esta página têm como objectivo dar a conhecer um pouco de mim, dos meus interesses, de experiências passadas tanto profissionais como académicas e de vida</p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="img/fato1.jpg" alt="Fotografia David" title="David Nunes Petrucci Silva Pinto" class="rounded-circle img-fluid">
    </div>

</div>


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
